<div class="jumbotron">
    <h1 class="display-4">About</h1>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vero autem facilis libero, repudiandae ipsum et quo tempore non quae? Eaque placeat earum, labore harum hic ipsum officiis mollitia vel!</p>
</div>