<div class="jumbotron">
    <h1 class="display-4">Mi primera app de NodeJS usando MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vero autem facilis libero, repudiandae ipsum et quo tempore non quae? Eaque placeat earum, labore harum hic ipsum officiis mollitia vel!</p>
    <a href="https://github.com/ivansmb11" class="btn btn-primary btn-lg">GitHub</a>
</div>